SmartChoice.Parser.TimViecNhanh/parser-config.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://smartchoice.com/xml/parser-config" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="parserConfig">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="baseUrl" type="xs:string" />
        <xs:element name="pages">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="page">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="url" type="xs:string" />
                    <xs:element name="jobLinksXPath" type="xs:string" />
                    <xs:element name="pagingLinksXPath" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="name" type="xs:string" />
        <xs:element name="dateFormat" type="xs:string" />
        <xs:element name="maleStr" type="xs:string" />
        <xs:element name="femaleStr" type="xs:string" />
        <xs:element name="salaryRangeRegex" type="xs:string" />
        <xs:element name="moneyConversion" type="xs:unsignedInt" />
        <xs:element name="codeFromUrlRegex" type="xs:string" />
        <xs:element name="pagingAppendStr" type="xs:string" />
        <xs:element name="careerMapping">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="item" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="locationMapping">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="item" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>