SmartChoice.XMLParser/xml-parser-config.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://smartchoice.com/xml/xml-parser-config" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="xmlParserConfig">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="neccessaryPart" type="xs:string" />
        <xs:element name="miscs">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="pattern" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="openBracketReplacements">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="replacement">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="from" type="xs:string" />
                    <xs:element name="to" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="attrReplacements">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="replacement">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="from" type="xs:string" />
                    <xs:element name="to" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>